/* Base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#title {
  text-align: center;
  margin: 40px;
}

.container {
  border: 1px solid black;
  background-color: rgb(202, 202, 202);
  margin: 10px;
  position: relative;
}

p {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

h2 {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  padding: 3px 35px 3px 35px; */
}
.sec1 {
  color: black;
  background-color: pink;
}
.sec2 {
  color: white;
  background-color: brown;
}
.sec3 {
  color: black;
  background-color: burlywood;
}
/* Responsive */
#row {
  width: 100%;
}

/* Desktop view */

@media (min-width: 992px) {
  .col-desktop-1,
  .col-desktop-2,
  .col-desktop-3,
  .col-desktop-4,
  .col-desktop-5,
  .col-desktop-6,
  .col-desktop-7,
  .col-desktop-8,
  .col-desktop-9,
  .col-desktop-10,
  .col-desktop-11,
  .col-desktop-12 {
    float: left;
    /* border: 4px solid black;
    background-color: rgb(202, 202, 202);
    margin: 5px; */
  }
  .col-desktop-1 {
    width: 8.33%;
  }
  .col-desktop-2 {
    width: 16.66%;
  }
  .col-desktop-3 {
    width: 25%;
  }
  .col-desktop-4 {
    width: 33.33%;
  }
  .col-desktop-5 {
    width: 41.66%;
  }
  .col-desktop-6 {
    width: 50%;
  }
  .col-desktop-7 {
    width: 58.33%;
  }
  .col-desktop-8 {
    width: 66.66%;
  }
  .col-desktop-9 {
    width: 74.99%;
  }
  .col-desktop-10 {
    width: 83.33%;
  }
  .col-desktop-11 {
    width: 91.66%;
  }
  .col-desktop-12 {
    width: 100%;
  }
}

/* Tablet view */

@media (min-width: 768px) and (max-width: 991.9px) {
  .col-tablet-1,
  .col-tablet-2,
  .col-tablet-3,
  .col-tablet-4,
  .col-tablet-5,
  .col-tablet-6,
  .col-tablet-7,
  .col-tablet-8,
  .col-tablet-9,
  .col-tablet-10,
  .col-tablet-11,
  .col-tablet-12 {
    float: left;
    /* border: 4px solid black;
    background-color: rgb(202, 202, 202);
    margin: 5px; */
  }
  .col-tablet-1 {
    width: 8.33%;
  }
  .col-tablet-2 {
    width: 16.66%;
  }
  .col-tablet-3 {
    width: 25%;
  }
  .col-tablet-4 {
    width: 33.33%;
  }
  .col-tablet-5 {
    width: 41.66%;
  }
  .col-tablet-6 {
    width: 50%;
  }
  .col-tablet-7 {
    width: 58.33%;
  }
  .col-tablet-8 {
    width: 66.66%;
  }
  .col-tablet-9 {
    width: 74.99%;
  }
  .col-tablet-10 {
    width: 83.33%;
  }
  .col-tablet-11 {
    width: 91.66%;
  }
  .col-tablet-12 {
    width: 100%;
  }
}

/* Mobile view */
@media (min-width: 0px) and (max-width: 767.9px) {
  .col-mobile-1,
  .col-mobile-2,
  .col-mobile-3,
  .col-mobile-4,
  .col-mobile-5,
  .col-mobile-6,
  .col-mobile-7,
  .col-mobile-8,
  .col-mobile-9,
  .col-mobile-10,
  .col-mobile-11,
  .col-mobile-12 {
    float: left;
    /* border: 4px solid black;
    background-color: rgb(202, 202, 202);
    margin: 5px; */
  }
  .col-mobile-1 {
    width: 8.33%;
  }
  .col-mobile-2 {
    width: 16.66%;
  }
  .col-mobile-3 {
    width: 25%;
  }
  .col-mobile-4 {
    width: 33.33%;
  }
  .col-mobile-5 {
    width: 41.66%;
  }
  .col-mobile-6 {
    width: 50%;
  }
  .col-mobile-7 {
    width: 58.33%;
  }
  .col-mobile-8 {
    width: 66.66%;
  }
  .col-mobile-9 {
    width: 74.99%;
  }
  .col-mobile-10 {
    width: 83.33%;
  }
  .col-mobile-11 {
    width: 91.66%;
  }
  .col-mobile-12 {
    width: 100%;
  }
}
